:root {
  --md-theme-default-primary: #448aff;
  --md-theme-default-accent: #ff5252;
  --md-theme-default-theme: light;
  --md-theme-default-primary-on-background: #448aff;
}
//.md-button.md-theme-default.md-primary {
//  color: var(--md-theme-default-primary-on-background, #2196f3);
//}